/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-mar-2017, 22:56:20
    Author     : Mauricio
*/

.body-container{
    background: white;
    opacity:1;
    padding:15px;
}